{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],

  "importOrderCaseSensitive": true,

  "tailwindFunctions": ["clsx", "cn", "twmerge", "cva"]
}
