{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,

  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react$",
    "",

    "^@radix-ui",
    "",

    "<THIRD_PARTY_MODULES>",
    "",

    "^@repo",
    "",

    "",

    "^[./]"
  ],

  "tailwindFunctions": ["clsx", "cn", "twMerge", "cva"]
}
