{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,

  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "tailwindStylesheet": "./app/globals.css",

  "importOrder": [
    "^next(.*)$",
    "^react$",
    "",

    "^@radix-ui",
    "",

    "<THIRD_PARTY_MODULES>",
    "",

    "^@repo",
    "",

    "^@/app(.*)$",
    "^@/pages(.*)$",
    "^@/widgets(.*)$",
    "^@/features(.*)$",
    "^@/entities(.*)$",
    "^@/shared(.*)$",
    "",

    "^[./]"
  ],

  "tailwindFunctions": ["clsx", "cn", "twMerge", "cva"]
}
